* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

div {
    border: 15px solid blueviolet;
    text-align: center;
    margin: 10vh 25vw;
    width: calc(100vw - 50vw);
    height: calc(100vh - 20vh);
}

.head {
    height: 60px;
    padding: 10px 0;
    border: 5px;
    text-align: center;
    color: blue;
    background-color: black;
    border-radius: 0px;
}

.main {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    border: 5px;
    text-align: center;
    color: blue;
    background-color: black;
    border-radius: 0px;
}

#IMAGE {
    flex: 1;
    color: white;
    padding-top: 15px;
    overflow: hidden;
}

img {
    max-width: 90%;
    max-height: 200px;
    height: auto;
    display: block;
    margin: 15px auto 0 auto;
}

footer {
    height: 50px;
    padding: 10px 0;
    border: 5px;
    text-align: center;
    border-radius: 0px;
}

button {
    background: linear-gradient(to right, #1a1aff, #8a2be2);
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 4px;
}
